absl-py==0.8.1
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
apyori==1.1.1
asn1crypto==1.2.0
astor==0.8.0
atomicwrites==1.4.0
attrs==19.3.0
audioread==2.1.8
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.1
bleach==3.1.0
blis==0.4.1
bokeh==2.0.2
boto==2.49.0
boto3==1.13.1
botocore==1.16.1
cachetools==3.1.1
catalogue==1.0.0
certifi==2020.4.5.1
cffi==1.13.0
chardet==3.0.4
chart-studio==1.0.0
Click==7.0
clyent==1.2.2
cmake==3.16.3
colorama==0.4.1
colorlover==0.3.0
conda==4.8.3
conda-build==3.10.5
conda-package-handling==1.6.0
conda-verify==3.4.2
cryptography==2.8
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.2
Cython==0.29.17
decorator==4.4.0
defusedxml==0.6.0
dlib==19.19.0
docutils==0.15.2
emoji==0.5.4
en-core-web-lg==2.2.5
en-core-web-sm==2.2.0
entrypoints==0.3
enum34==1.1.6
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.0.12
findspark==1.3.0
Flask==1.1.2
funcy==1.14
future==0.17.1
gast==0.2.2
gensim==3.8.2
glob2==0.7
google-auth==1.7.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
googlemaps==4.2.2
graphviz==0.13.2
grpcio==1.25.0
h5py==2.10.0
idna==2.8
imagecodecs==2020.2.18
imageio==2.8.0
imagesize==1.2.0
imbalanced-learn==0.5.0
imblearn==0.0
imgaug==0.4.0
importlib-metadata==0.23
ipykernel==5.1.2
ipyparallel==6.3.0
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.5
joblib==0.14.0
json5==0.8.5
jsonschema==3.1.1
jupyter-client==5.3.4
jupyter-core==4.6.0
jupyter-http-over-ws==0.0.6
jupyterlab==1.1.4
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
librosa==0.7.2
llvmlite==0.32.1
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==7.2.0
msgpack==0.6.2
murmurhash==1.0.2
navigator-updater==0.2.1
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.4
nltk==3.4.5
nose==1.3.7
notebook==5.6.0
numba==0.49.1
numexpr==2.7.1
numpy==1.16.5
oauthlib==3.1.0
olefile==0.46
opencv-python==4.1.2.30
opt-einsum==3.1.0
packaging==20.3
pandas==0.25.2
pandocfilters==1.4.2
parso==0.5.1
patsy==0.5.1
pickleshare==0.7.5
Pillow==6.2.0
pkginfo==1.5.0.1
plac==1.1.3
plotly==4.3.0
plotly-geo==1.0.0
pluggy==0.13.1
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.10.0
psutil==5.6.6
PuLP==1.6.10
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycosat==0.6.3
pycparser==2.19
pydot==1.4.1
pydotplus==2.0.2
pyfpgrowth==1.0
Pygments==2.4.2
pyLDAvis==2.1.2
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyproj==2.6.0
pyrsistent==0.15.4
PySocks==1.7.1
pytest==5.4.1
python-dateutil==2.8.0
pytz==2019.3
PyWavelets==1.1.1
pywin32==223
pywinpty==0.5.5
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.7.4
QtPy==1.9.0
rdflib==5.0.0
requests==2.22.0
requests-oauthlib==1.2.0
resampy==0.2.2
retrying==1.3.3
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn==0.21.3
scikit-surprise==1.1.0
scipy==1.3.1
seaborn==0.9.0
selenium==3.141.0
sematch==1.0.4
Send2Trash==1.5.0
Shapely==1.7.0
six==1.12.0
sklearn-pandas==1.8.0
smart-open==2.0.0
snowballstemmer==2.0.0
SoundFile==0.10.3.post1
soupsieve==1.9.3
spacy==2.2.3
SPARQLWrapper==1.8.5
Sphinx==3.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
split-folders==0.3.1
squarify==0.4.3
srsly==0.2.0
statsmodels==0.11.1
surprise==0.1
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
textblob==0.15.3
thinc==7.3.1
tifffile==2020.5.11
tornado==5.1.1
tqdm==4.36.1
traitlets==4.3.3
tweepy==3.8.0
typing-extensions==3.7.4.2
urllib3==1.24.2
vaderSentiment==3.3.1
wasabi==0.4.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wordcloud==1.5.0
wrapt==1.11.2
xgboost==0.90
xlrd==1.2.0
zipp==0.6.0
